@charset "UTF-8";
                                                            /*reset styles*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

                                                               /* main styles */
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}


.container{
  margin: 0 auto;
  max-width: 1200px;
}
@media(max-width:1200px){
  .container{
    max-width: 970px;
  }
}
@media(max-width:992px){
  .container{
    max-width: 750px;
  }
}
@media(max-width:767px){
  .container{
    max-width: none;
    padding: 0;
  }
}



                                                                /* header */
.header{
  background: url(../assets/img/header/header_bg.png) center/cover no-repeat;
}

.body--burger-active{
  overflow: hidden;
}


.header__top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0 0 0;
}
@media(max-width:767px){
  .header__top{
    position: relative;
  }
}



.logo{
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  color: #fff;
}




@media(max-width:767px){
  .header__burger{
    position: fixed;
    right: 10px;
    top: 10px;
    height: 70px;
    width: 70px;
    border: solid 3px #fff;
    border-radius: 10%;
    z-index: 100;
  }

  .header__burger-inner{
    position: absolute;
    display: block;
    top: 32px;
    right: 5px;
    left: 5px;
    height: 6px;
    background-color: #fff;
    border-radius: 25px;
    transition: 1s;
  }

  .header__burger-inner::after, .header__burger-inner::before{
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 6px;
    background-color: #fff;
    border-radius: 25px;
    transition: 1s;
  }

  .header__burger-inner::after{
    top: 15px;
    transition: 1s;
  }

  .header__burger-inner::before{
    top: -15px;
    transition: 1s;
  }

  .header__burger--active .header__burger-inner::before{
    background-color:#fff;
    top: 0;
    transform: rotate(45deg);
    transition: 1s;
  }

  .header__burger--active .header__burger-inner::after{
    background-color:#fff;
    top: 0;
    transform: rotate(-45deg);
    transition: 1s;
  }

  .header__burger--active .header__burger-inner{
    background: none;
    transition: 1s;
  }
}




.header__menu{
  width: 50%;
}
@media(max-width:767px){
  .header__menu{
    position: fixed;
    top: -100vh;
    background-color: #e68582;
    height: 100vh;
    width: 100%;
    z-index: 2;
    transition: 1s;
  }

  .header__menu.header__menu--active{
    top: 0;
    transition: 1s;
  }
}



.header__list{
  display: flex;
  justify-content: space-between;
}
@media(max-width:767px){
    .header__list{
    display: flex;
    flex-direction: column;
  }
}



.header__link{
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 14px;
  color: #fff;
  transition: .5s;
}

.header__link::after{
  content: "";
  height: 3px;
  background-color: #fce38a;
  width: 100%;
  display: block;
  margin: 12px 0 0 0;
  opacity: 0;
  transition: .5s;
}

.header__link:hover{
  color: #fce38a;
  transition: .5s;
}

.header__link:hover::after{
 opacity: 1;
 transition: .5s;
}

.header__link--active{
  color: #fce38a;
}

.header__link--active::after{
  content: "";
  height: 3px;
  background-color: #fce38a;
  width: 100%;
  display: block;
  margin: 12px 0 0 0;
  opacity: 1;
}

@media(max-width:767px){
  .header__link{
    margin: 35px auto 0;
    font-size: 25px;
  }
}
@media (max-width:767px) and (orientation: landscape) {
  .header__link{
      margin: 5px auto 0;
      font-size: 15px;
  }
}


.header__content{
  text-align: center;
  margin: 164px auto 0;
  max-width: 800px;
  position: relative;
  min-height: 500px;
}
@media(max-width:1200px){
  .header__content{
    margin: 130px auto 0;
  }
}
@media(max-width:992px){
  .header__content{
    margin: 115px auto 0;
    min-height: 450px;
  }
}
@media(max-width:767px){
  .header__content{
    margin: 100px auto 0;
    max-width: 400px;
    min-height: 250px;
  }
}


.header__slider-page{
  margin: 0 auto;
  text-align: center;
}


.header__slider-page{
  position: absolute;
  top: 0;
  left: 100vw;
  transition: all ease 1s;
}



.header__slider-page--active{
  position: absolute;
  top: 0;
  left: 0;
  transition: all ease 4s;
}



.header__subtitle{
  font-family: "Kaushan Script", sans-serif;
  font-size: 72px;
  line-height: 1.2;
  font-weight: 400;
  color: #fff;
  margin: 0 0 42px 0;
} 
@media(max-width:1200px){
  .header__subtitle{
    font-size: 62px;
  }
}
@media(max-width:992px){
  .header__subtitle{
    font-size: 52px;
    margin: 0 0 22px 0;
  }
}
@media(max-width:767px){
  .header__subtitle{
    font-size: 32px;
    margin: 0 0 5px 0;
  }
}



.header__title{
  font-size: 150px;
  line-height: 140px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
@media(max-width:1200px){
  .header__title{
    font-size: 125px;
  }
}
@media(max-width:992px){
  .header__title{
    font-size: 100px;
  }
}
@media(max-width:767px){
  .header__title{
    font-size: 50px;
    line-height: 80px;
  }
}

.header__title::after{
  content: "";
  width: 60px;
  height: 3px;
  background-color: #fff;
  display: block;
  margin: 71px auto 50px;
}
@media(max-width:1200px){
  
}
@media(max-width:992px){
  
}
@media(max-width:767px){
  .header__title::after{
    margin: 21px auto 55px;
  }
}

.header__button{
  border: #fff 3px solid;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  padding: 13px 32px;
  transition: .5s;
}

.header__button:hover{
  border: #fce38a 3px solid;
  transition: .5s;
  color: #fce38a;
}



.header__slider{
  margin: 157px 0 0 0;
  display: flex;
  justify-content: space-between;
}
@media(max-width:1200px){
  
}
@media(max-width:992px){
  
}
@media(max-width:767px){
  .header__slider{
    flex-direction: column;
    text-align: center;
  }
}



.header__slider-item{
  border-top: 3px solid rgba(255,255,255, 0.5);
  width: 23%;
  padding: 20px 0;

  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  opacity: .7;
  transition: .5s;

  position: relative;
}
@media(max-width:767px){
  .header__slider-item{
    width: 100%;
    margin: 0  auto;
  }
}



.header__slider-item:hover{
  border-top: 3px solid rgba(255,255,255);
  opacity: 1;
  transition: .5s;
}

.header__slider-item::before{
  content: "";
  height: 3px;
  position: absolute;
  left: 0;  
  top: -3px;
  display: block;
  width: 70px;
  background-color:#f38181;
  opacity: 0;
  transition: .5s;
}

.header__slider-item:hover::before{
  opacity: 1;
  transition: .5s;
}

.header__slider-item--active{
  opacity: 1;
  border-top: 3px solid rgba(255,255,255);
}

.header__slider-item--active::before{
  content: "";
  height: 3px;
  position: absolute;
  left: 0;  
  top: -3px;
  display: block;
  width: 70px;
  background-color:#f38181;
  opacity: 1;
  transition: .5s;
}

.header__slider-number{
  font-size: 24px;
}

                                              /* story about us */
.title-wrapper{
  margin: 90px auto 100px;
  text-align: center;
}
@media(max-width:1200px){
  .about .title-wrapper{
    margin: 50px auto 70px;
  }
}
@media(max-width:992px){
  .about .title-wrapper{
    margin: 40px auto 60px;
  }
}
@media(max-width:767px){
  .about .title-wrapper{
    margin: 20px auto 30px;
  }
}



.subtitle{
  font-family: "Kaushan Script", "sans-serif";
  line-height: 1.2;
  font-weight: 400;
  color: #333;
  font-size: 24px;
}

.title{
  font-family: "Montserrat", "sans-serif";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: #333;
  text-transform: uppercase;
  margin: 23px 0 0 0;
}



.title::after{
  content: '';
  width: 60px;
  background-color: #f38181;
  height: 3px;
  margin: 40px auto 47px;
  display: block;
}    
@media(max-width:767px){
  .title::after{
    margin: 20px auto 25px;
  }
}



.title-text{
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999;
}

.title__text-wrapper{
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
}



.about__img-wrapper{
  min-height: 250px;
  margin: 0 auto 110px;
  display: flex;
  justify-content: space-between;
}
@media(max-width:1200px){
  .about__img-wrapper{
    margin: 0 auto 50px;
  }
}
@media(max-width:992px){
  .about__img-wrapper{
    margin: 0 auto;
  }
}
@media(max-width:767px){
  .about__img-wrapper{
   flex-direction: column;
  }
}




.about__link-wrapper{
  height: 250px;
  width: 380px;
  position: relative;
  background-color: #95e1d3;
}
@media(max-width:1200px){
  .about__link-wrapper{
    height: 184px;
    width: 280px;
  }
}
@media(max-width:992px){
  .about__link-wrapper{
    width: 230px;
    height: 151px;
  }   
}
@media(max-width:767px){
  .about__link-wrapper{
    margin: 10px auto;
  }
}




.about__link-wrapper-inner{
  position: absolute;
  height: 250px;
  width: 380px;
  top: 0;
  left: 0;
  background: linear-gradient(#e68082,#ebd587);
  transition: .5s;
}
@media(max-width:1200px){
  .about__link-wrapper-inner{
    width: 280px;
    height: 184px;
  }  
}
@media(max-width:992px){
  .about__link-wrapper-inner{
    width: 230px;
    height: 151px;
  }   
}
@media(max-width:767px){
  
}



.about__bg-block{
  margin: 25% auto 0;
  text-align: center;
}

.about__bg-block h4{
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  line-height: 1.2;
}

.about__bg-block img{
  margin: 0 auto;
}




.about__img{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: .5s;
}
@media(max-width:1200px){
  .about__img{
    width: 280px;
    height: auto;
  }
}
@media(max-width:992px){
  .about__img{
    width: 230px;
    height: auto;
  }
}
@media(max-width:767px){
  
}




.about__img:hover{
  opacity: .5;
  transition: .5s;
}

.about__link-wrapper-inner:hover{
  top: -10px;
  left: -10px;
  transition: .5s;
}




.about__achievements{
  width: 100%;
  min-height: 270px;
  background-color: #95e1d3;
}
@media(max-width:1200px){
  .about__achievements{
    min-height: 182px;
  }
}
@media(max-width:992px){
  .about__achievements {
    min-height: 118px;
}
}
@media(max-width:767px){
  
}



.about__achievements-inner{
  display: flex;
}
@media(max-width:767px){
  .about__achievements-inner{
    display: flex;
    flex-direction: column;
  }
}



.about__achievements-inner:first-child{
  border-left: #fff 1px solid;
}




.about__achievements-item{
  width: 20%;
  border-right: #fff 1px solid;
}
@media(max-width:767px){
  .about__achievements-item{
    width: 100%;
    border-bottom: #fff 1px solid;
  }
}




.about__item{
  margin: 89px auto;
  text-align: center;
}
@media(max-width:1200px){
  .about__item{
    margin: 40px auto;
  }
}
@media(max-width:992px){
  .about__item {
    margin: 0 auto;
}
}
@media(max-width:767px){
  
}



.about__num{
  font-family: "Montserrat", "sans-serif";
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  font-size: 72px;
}
@media(max-width:767px){
  .about__num{
    font-size: 42px;
  }
}


.about__text{
  font-family: "Montserrat", "sans-serif";
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}

                                                              /* amazing services */
.services{
  min-height: 650px;
}


@media (max-width: 1200px){
  .services .title-wrapper {
    margin: 50px auto 70px;
  }
}
@media (max-width: 992px){
.services .title-wrapper {
    margin: 40px auto 60px;
  }
}
@media (max-width: 767px){
  .services .title-wrapper{
    margin: 40px auto 60px;
  }
}




.services__inner{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px){
  .services__inner{
    flex-direction: column;
  }
}




.services__inner:first-child{
  padding: 0 0 50px 0;
  border-bottom: #f4f4f4 2px solid;
}
@media (max-width: 767px){
  .services__inner:first-child{
    padding: 0 0 10px 0;
  }
}



.services__inner:last-child{
  margin: 50px 0 0 0;
}
@media (max-width: 767px){
  .services__inner:last-child{
    margin: 10px 0 0 0;
  }
}



.services__item{
  display: flex;
  width: 30%;
  margin: 20px;
  max-width: 340px;
}
@media (max-width: 767px){
  .services__item{
    width: 80%;
    margin: 10px auto;
  }
}

.services__img-wrapper{
  margin: 0 28px 0 0;
}

.services__title{
  margin: 0 0 20px 0;
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
}

.services__text{
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999;
}

                                                        /* design */

.design{
  background: url(../assets/img/design/design_bg.png) center/cover no-repeat;  
  padding: 20px 0 0 0;
}
@media (max-width: 767px){
  .design{
    padding: 5px 0 0 0;
  }
}


.design .title-wrapper{ 
  margin: 50px auto 70px;
}

@media (max-width: 1200px){
  .design .title-wrapper {
    margin: 50px auto 70px;
  }
}
@media (max-width: 992px){
.design .title-wrapper {
    margin: 40px auto 60px;
  }
}
@media (max-width: 767px){
  .design .title-wrapper{
    margin: 40px auto 60px;
  }
}



.design__img-wrapper{
  position: relative;
  margin: 0 auto;
  max-width: 477px;
}
@media (max-width: 767px){
  .design__img-wrapper{
    width: 260px;
  }
} 


.design__tablet{
  margin: 0 auto;
  display: block;
}
@media (max-width: 767px){
  .design__tablet{
    width: 260px;
    height: auto;
  }
} 



.design__phone{
  position: absolute;
  display: block;
  left: 330px;
  top: 200px;
}
@media (max-width: 767px){
  .design__phone{
    max-width: 140px;
    left: 185px;
    top: 120px;
  }
}

                                                                          /* we-do */

.we-do{
  min-height: 980px;
}

@media (max-width: 767px){
  
}




.we-do .title-wrapper{ 
  margin: 50px auto 70px;
}

@media (max-width: 1200px){
  .we-do .title-wrapper {
    margin: 40px auto 60px;
  }
}
@media (max-width: 992px){
  .we-do .title-wrapper {
    margin: 30px auto 50px;
  }
}
@media (max-width: 767px){
  .we-do .title-wrapper{
    margin: 20px auto 40px;
  }
}




.we-do__content{
  display: flex;
  justify-content: space-between;
  margin: 90px 0 0 0;
}
@media (max-width: 1200px){
  .we-do__content {
    margin: 80px 0 0 0;
  }
}
@media (max-width: 992px){
  .we-do__content {
    margin: 60px 0 0 0;
  }
}
@media (max-width: 767px){
  .we-do__content{
    flex-direction: column;
    margin: 40px 0 0 0;
  }
}




.we-do__img-wrapper{
 width: 47%;
}
@media (max-width: 767px){
  .we-do__img-wrapper{
    width: 100%;
    margin: 0 0 10px 0;
  }
}



.we-du__img{
  width: 100%;
  height: auto;
}



.we-do__dropdon-text{
  width: 47%;
}
@media (max-width: 767px){
  .we-do__dropdon-text{
    width: 100%;
  }
}





.we-do__text-wrapper{
  width: 100%;
  margin: 0 0 10px 0;
}

.we-do__item, .we-do__text-wrapper{
  border: #e5e5e5 1px solid;
}

.we-do__item{
  display: flex;
  min-height: 60px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  transition: all ease .5s;
  margin: 0 0 10px 0;
}

.we-do__item:hover{
  border: #95e1d3 1px solid;
  transition: all ease .5s;
}

.we-do__item.open{
  border: #95e1d3 1px solid;
  margin: 0 0 0 0;
}

.arrow_up, .arrow_down {
  margin: 24px;
}

.open .arrow_down, .arrow_up{
  display: none;
}

.open .arrow_up{
  display: inherit;
}

.we-do__item-inner{
  display: flex;
  align-items: center;
}

.we-do__title{
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
}

.we-do__text-wrapper{
  font-family: "Roboto", "sans-serif";
  line-height: 24px;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
  color: #999;
  display: none;
}

.we-do__text-wrapper--active{
  display: inherit;
}


.we-do__icon-wrapper{
  margin: 15px;
}

.we-do__text-wrapper{
  padding: 20px;
  max-height: 180px;
  overflow-y: scroll;
}


.we-do__slider{
  display: flex;
  align-items: center;
  min-height: 290px;
}

.we-do__slider-window{
  width: 70%;
  overflow: hidden;
}



.we-do__slider-img{
  display: inline-block;
  margin: 0 auto;

}
@media (max-width: 992px){
  .we-do__slider-img{
    width: 90%;
    height: auto;
  }
}
@media (max-width: 767px){
  
}



.we-do__slider-img-wrapper{
  border: 3px solid #95e1d3;
  max-height: 150px;
  max-width: 150px;
  padding: 45px;
}


.we-do__slider-arrow{
  display: block;
  margin: 0 auto;
}

.we-do__slider-arrow:hover{
  cursor: pointer;
}

.we-do__slider-line{
  display: flex;
  position: relative;
  width: 300%;
  transition: all .3s ease ;
}



.we-do__slider-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 767px){
  .we-do__slider-item{
    flex-direction: column;
    padding: 10px 0 0 0;
  }
}


.we-do__slider-text-wrapper{
  max-width: 70%;
  height: auto;
  display: flex;
  align-items: center;
  padding: 10px;
}



.we-do__slider-text{
  font-family: "Roboto", "sans-serif";
  line-height: 36px;
  font-weight: 300;
  font-style: italic;
  font-size: 24px;
  color: #999;
}
@media (max-width: 992px){
  .we-do__slider-text{
    font-size: 19px;
  }
}
@media (max-width: 767px){
  .we-do__slider-text{
    font-size: 14px;
  }
}


.we-do__name{
  display: block;
  margin: 10px 0 0 0px ;
  display: flex;
  align-items: center;
  font-family: "Kaushan Script", "sans-serif";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333;
}

.we-do__name::before{
  content: "";
  width: 60px;
  height: 3px;
  background-color: #f38181;
}

.we-do__arrow-right, .we-do__arrow-left{
   width: 15%;
}


                                                                /* team */

@media (max-width: 1200px){
  .team .title-wrapper {
    margin: 50px auto 60px;
  }
}
@media (max-width: 992px){
  .team .title-wrapper {
    margin: 50px auto 50px;
  }
}
@media (max-width: 767px){
  .team .title-wrapper{
    margin: 50px auto 40px;
  }
}


.team__content{
  display: flex;
  justify-content: space-between;
  margin: 92px 0 0 0;
}
@media (max-width: 767px){
  .team__content{
    flex-direction: column;
    align-items: center;
  }
}


.team__item{
  width: 31%;
}
@media (max-width: 767px){
  .team__item{
    width: 70%;
  }
}


.team__item-inner{
  background-color: #95e1d3;
  position: relative;
  width: 100%;
}

.team__photo-wrapper{
  background: linear-gradient(#ed8889, #e3d082);
  transition: transform ease .5s;
}

.team__photo{
  transition: opacity ease .5s;
  display: block;
  width: 100%;
}

.team__item:hover .team__photo-wrapper{
  transform: translate3d(-10px, -10px, 0);
}

.team__item:hover .team__photo{
  opacity: .1;
}



.team__social{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;

  opacity: 0;
  transition: opacity ease .5s;

  font-size: 30px;
}
@media (max-width: 767px){
  .team__social{
    font-size: 20px;
  }
}


.team__social-img{
  display: block;
  padding: 15px;
  background-color:#fce38a;
  
  transition: background-color ease .5s;
  color: #fff;
}

.fab{
  color: #f38181;
}

.team__social-img--active{
  background-color: #f38181;
}

.team__social-img--active .fab{
  color: #fff;
}
.team__social-img:hover{
  background-color: #f38181;
}

.team__social-img:hover .fab{
  color: #fff;
}

.team__item:hover .team__social{
  opacity: 1;
}

.team__name{
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;

  width: 100%;
  text-align: center;
  
  margin: 31px 0 0 0;
}

.team__position{
  font-family: "Roboto", "sans-serif";
  line-height: 24px;
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  color: #999;
  width: 100%;
  text-align: center;

  margin: 10px 0 117px 0;
}
@media (max-width: 767px){
  .team__position{  
    margin: 10px 0 20px 0;
  }
}

                                                                  /* brands */
.brands{
  background-color: #f8f8f8;
}


.brands__inner{
  padding: 50px 0;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px){
  .brands__inner{
    padding: 10px 0;
  }
}


@media (max-width: 767px){
  .brands__img{
    width: 16%;
  }
}

                                                                    /* work */

.collection{
  display: grid;
  grid-template: repeat(2, 1fr)/ repeat(4, 1fr);
  max-height: 780px;
  margin: 100px 0;
}



.collection__item{
  position: relative;
  padding: 0 0 81% 0;
  background: linear-gradient(to bottom, #e66465, #9198e5);
  text-align: center;
}



.collection__item:hover .collection__img{
  opacity: .1;
}

.collection__img{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 2;

  transition: opacity .5s ease;
}



.collection__item--big{
  grid-row: span 2;
}

.collection__content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.collection__title{
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
}

.collection__text{
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #fff;
}

                                                                             /* slider */

.slider{
  padding: 0 0 70px;
}
@media (max-width: 767px){
  .slider{
    padding-bottom: 200px;
  }  
}



.slider__wrapper{
  max-height: 210px;
  position: relative;
  padding: 0 30px;
}



.arrow__left{
  width: 30px;
  height: 30px;
  border-top: #999 3px solid;
  border-left: #999 3px solid;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%) rotate(-45deg); 
}
@media (max-width: 767px){
  .arrow__left{
    left: 10px;
  }
}



.arrow__right{
  width: 30px;
  height: 30px;
  border-top: #999 3px solid;
  border-left: #999 3px solid;

  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%) rotate(135deg); 
}
@media (max-width: 767px){
  .arrow__right{
    right: 10px;
  }
}




.arrow__right, .arrow__left{
  transition: all .5s ease;
}

.arrow__left:hover, .arrow__right:hover{
  cursor: pointer;
  border-top: #f38181 3px solid;
  border-left: #f38181 3px solid;
}



.slider__window{
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
}


.slider__line{
  display: flex;
  width: 300%;
  transition: all .3s ease;
}



.slider__item{
  display: flex;
  align-content: center;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 767px){
  .slider__item{
    flex-direction: column;
    align-items: center;
  }
}



.slider__quote{
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 70%;
}
@media (max-width: 767px){
  .slider__quote{
    width: 100%;
  }
}


.slider__img-wrapper{
  margin: 0 20px 0 0;
  padding: 0 0 20% 0;
  position: relative;
  width: 20%;
}

.slider__img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}



.slider__text{
  font-family: "Roboto", "sans-serif";
  font-size: 24px;
  line-height: 36px;
  font-weight: 300;
  font-style: italic;
  color: #999;
}
@media (max-width: 767px){
  .slider__text{
    font-size: 14px;
  }
}


.slider__author-name{
  margin: 20px 0 0 0;
  display: flex;
  align-items: center;

  font-family: "Kaushan Script", "sans-serif";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 400;
  color: #333;
}
@media (max-width: 767px){
  .slider__author-name{
    font-size: 14px;
  }
}


.slider__author-name::before{
  content: "";
  display: block;
  width: 50px;
  height: 3px;
  background-color: #f38181;
  display: inline-block;
}

                                                                                /* say */

.say .title-wrapper{
  margin-top: 0;
}

.say{
  background: url(../assets/img/say/say_bg.jpg) center/cover no-repeat;
  padding: 105px 0;
}
@media (max-width: 767px){
  .say{
    padding: 20px 10px;
  }
}


.say__item{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px){
  .say__item{
    margin: 0 0 40px;
  }
}


.say__img-wrapper{
  position: relative;
  padding: 0 0 20% 0;
  width: 20%;
  overflow: hidden;
}

.say__img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  object-fit: cover;
}

.say__text-wrapper{
  width: 75%;
}

.say__name{
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  margin: 0 0 15px;
}

.say__position{
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #333;
}

.say__position::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 15px 0;
}

.say__text{
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999;
}

.say__content{
  display: grid;
  column-gap: 80px;
  row-gap: 80px;
  grid-template: repeat(2, 1fr)/ repeat(2, 1fr);
}
@media (max-width: 767px){
  .say__content{
    display: inherit;
  }
}

                                                                                    /* blog */

.blog{
  padding: 110px 0;
}
@media (max-width: 767px){
  .blog{
    padding: 110px 55px;
  }
}


.blog .title-wrapper{
  margin-top: 0;
}

.blog__content{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px){
  .blog__content{
    display: inherit;
  }
}



.blog__item{
  width: 30%;
}
@media (max-width: 767px){
  .blog__item{
    width: 100%;
    margin: 0 0 25px 0;
  }
}



.blog__img-wrapper{
  position: relative;
  padding: 0 0 63% 0;
}

.blog__img{
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1;
}

.blog__calendar{
  position: absolute;
  top: 80%;
  left: -10%;
  transform: translateY(-50%);
  width: 60px;
  height: 70px;
  background-color: #95e1d3;
  z-index: 2;
}

.calendar__num{
  font-family: "Montserrat", "sans-serif";
  font-size: 30px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #fff;
  text-align: center;

  
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 0 5px 0;
}

.calendar__month{
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  font-weight: 300;
  font-style: italic;
  text-transform: none;
  color: #fff;
  text-align: center;
}

.blog__title{
  margin: 20px 0;
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
}

.blog__text{
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999;
}

.blog__text::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #999999;
  opacity: .3;
  margin: 20px 0;
}

.blog__view-count{
  margin: 0 20px 0 0;
}


                                                                      /* one-map */
.one-map{
  position: relative;
}

.one-map__content{
  position: absolute;
  z-index: 1;
  top: 56%;
  left: 50%;
  width: 100%;
  max-width: 139px;
  transform: translate(-50%, -50%);
}

.one-map__pin{
  display: block;
  margin: 0 auto;
}

.one-map__text{
  font-family: "Montserrat", "sans-serif";
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #f38181;
  display: block;
  margin: 20px 0;
}

.one-map__text::after{
  content: "";
  display: block;
  width: 60px;
  height: 3px;
  background-color: #f38181;
  margin: 20px auto 0;
}


                                                                                /* footer */
.footer{
  padding: 80px 0;
  position: relative;
}

@media (max-width: 1200px){
  .footer .container{
    max-width: 467px;
  }
}
@media (max-width: 992px){
  
}
@media (max-width: 767px){
  .footer{
    padding: 0 20px;
  }
}


.footer__wrapper{
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px){
  .footer__wrapper{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 992px){

}
@media (max-width: 767px){
  
}



.footer__social{
  max-width: 467px;
}
@media (max-width: 1200px){
  .footer__social{
    margin: 100px 0;
  }
}
@media (max-width: 992px){

}
@media (max-width: 767px){
  
}



.footer__social-title{
  font-family: "Montserrat", "sans-serif";
  font-size: 46px;
  line-height: 1.2;
  font-weight: 700;
  color: #ccc;
  margin: 0 0 42px 0;
}

.footer__social-text{
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #999;
  margin: 0 0 23px 0;
}

.footer__social-followers{
  font-weight: 400;
  font-size: 14px;
  color: #333;
}

.footer__social-followers span{
  font-family: "Montserrat", "sans-serif";
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  color: #333;
}

.footer__social-followers::after{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #999;
  opacity: .3;
  margin: 15px 0;
}

.footer__social-links i{
  font-size: 15px;
  color: #95e1d3;
  margin: 0 5px 0 0;
}

.footer__social-links .fa-facebook-f{
  margin-left: 20px;
}

.footer__social-links span{
  font-family: "Roboto", "sans-serif";
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999;
}

.footer__form{
  margin: 39px 0 0 0;
}

.footer__mail-input{
  width: 230px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #e7e7e7;
}

.footer__mail-button{
  width: 150px;
  height: 40px;
  background-color: #95e1d3;

  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__blogs{
  max-width: 335px;
}
@media (max-width: 1200px){
  .footer__blogs{
    margin: 100px 0;
  }
}
@media (max-width: 992px){
  
}
@media (max-width: 767px){
  
}



.footer__blogs-title{
  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  margin: 0 0 40px 0;
}

.footer__blogs-item{
  display: flex;
  margin: 30px 0 0 0;
}



.footer__blogs-img-wrapper{
  margin: 0 20px 0 0;
}

.footer__blog-text p{
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
}

.footer__blog-text span{
  font-family: "Roboto", "sans-serif";
  font-size: 13px;
  line-height: 24px;
  font-weight: 300;
  font-style: italic;
  color: #999;
}



@media (max-width: 1200px){
  .footer__instagram{
    margin: 100px 0;
  }
}
@media (max-width: 992px){
  
}
@media (max-width: 767px){
  
}

.footer__instagram-title{
  font-family: "Montserrat", "sans-serif";
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #333;
  margin: 0 0 40px 0;
}

.footer__instagram-images{
  display: grid;
  grid-template: repeat(3, 1fr)/ repeat(3, 1fr);
  max-width: 272px;
  max-height: 272px;
  gap: 2px;
}

.footer__basement{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;

  font-family: "Montserrat", "sans-serif";
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: #333333;
}

.footer__basement::before{
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #e5e5e5;
  margin: 0 0 22px 0;
}

.footer__basement{
 margin: 22px 0;
}

.footer__basement span{
  color: #f38181;
}

@media (max-width: 1200px){
  
}
@media (max-width: 992px){

}
@media (max-width: 767px){
  
}